#ferritecms_loginform {
    display: none;
    width: 200px;
    height: 100px;
    padding: 20px;
    position: fixed;
    background: #eaeaea;
    border-radius: 3px;
    z-index: 9000;
}

#ferritecms_obscure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.5;
    display: none;
    z-index: 8000;
}

#ferritecms_contentfield {
    width: 40%;
    height: 15em;
}

.ferritecms_newpage {
    font-weight: bold;
    display: none;
}

#ferritecms_pageinfo {
}

.ferritecms_dialog {
    position: fixed;
    background: #eaeaea;
    border-radius: 3px;
    padding: 20px;
    z-index: 9000;
}
